{% extends 'base.html' %}

{% block body %}

<div class="container mt-3">
<h2>Sign up as a patient</h2>
    <form class="row g-3" method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="col-md-6">
          <label class="form-label">First Name</label>
          <input type="text" class="form-control"name="firstname" placeholder="Enter your first name" required>
        </div>
        <div class="col-md-6">
          <label class="form-label">Last Name</label>
          <input type="text" class="form-control" name="lastname" placeholder="Enter your last name" required>
        </div>
        <div class="col-12">
          <label class="form-label">Profile Picture</label>
          <input type="file" class="form-control" name="pic" required>
        </div>
        <div class="col-6">
          <label class="form-label">Username *</label>
          <input type="text" class="form-control" name="username" placeholder="Enter username" required>
        </div>
        <div class="col-6">
          <label class="form-label">Email *</label>
          <input type="email" class="form-control" name="email" placeholder="name123@domain.com" required>
        </div>
        <div class="col-6">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Enter new password" required>
        </div>
        <div class="col-6">
          <label class="form-label">Confirm Password</label>
          <input type="password" class="form-control" name="confirmpassword" placeholder="Again enter the password" required>
        </div>
        <div class="col-12">
          <label class="form-label">Address *</label>
          <input type="text" class="form-control" name="address" placeholder="line1" required>
        </div>
        <div class="col-md-6">
          <label class="form-label">City</label>
          <input type="text" class="form-control" name="city" placeholder="Bangalore" required>
        </div>
        <div class="col-md-4">
          <label class="form-label">State</label>
          <input type="text" class="form-control" name="state" placeholder="Karnataka" required>
        </div>
        <div class="col-md-2">
          <label class="form-label">Zip</label>
          <input type="text" class="form-control" name="zip" placeholder="560010" required>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
</div>
{% endblock body %}