{% extends 'base.html' %}

{% block body %}
<div class="container mt-3">
    <h2>My All Posts</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for mh in myposts %}
        <div class="col">
            <div class="card">
                <img src="{{mh.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{mh.title}}</h5>
                    <p class="card-text">{{mh.summary|truncatewords:15}}</p>
                </div>
                <a href="/updatepost/{{mh.id}}" class="btn btn-primary m-2">Update Post {{mh.id}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock body %}