{% extends 'base.html' %}

{% block body %}
<div class="container mt-3">
    <h2>Select a doctor to book a appointment</h2>
    <form class="row g-3 mt-2" method='POST'>
        {% csrf_token %}
        <!-- <input type="hidden" value="{{request.user}}" name="author"> -->
        {% for doctor in doctors %}
        <div class="col-md-4">
            <img src="{{doctor.pic}}">
        </div>
        <div class="col-md-4 mt-5">
            <h5>{{doctor.firstname}} {{doctor.lastname}}</h5>
        </div>
        <div class="col-md-4 text-center">
            <a type="submit" class="btn btn-success mt-5 btn-xl" href="/bookappointment/{{doctor.id}}">Book Appointment</a>
        </div>
        <!-- <div class="col-4 mb-3 d-grid gap-2 mx-auto">
            <button type="submit" class="btn btn-success btn-xl">Upload Post</button>
        </div> -->
        {% endfor %}
    </form>
</div>
{% endblock body %}